<div class='field form-group' >


  <div ng-if="!field.isQuestion">

    <div ng-if="field.type == 'sectionBreak'">
      <hr/>
      <h3>{{field.title}}</h3>
    </div>

    <p ng-show='field.text' class='text' ng-bind-html='field.text | markdown'>
    </p>

    <p ng-show='field.notes' class='notes text-muted' ng-bind-html='field.notes | markdown'>
    </p>

  </div>

  <div ng-if="field.isQuestion">

      <div class='pull-left'>

        <i class="fa fa-exclamation-circle fa-lg text-danger" ng-show='field.missing'></i>
        <i class="fa fa-circle" ng-show='!field.missing && !field.optional'></i>
        <i class="fa fa-circle-o" ng-show='!field.missing && field.optional'></i>

        &nbsp;
      </div>

  		<p class='question indent' ng-class='(field.missing) ? "text-danger" : ""' ng-bind-html='field.question | markdown'>
  		</p>

  		<p ng-show='field.notes' class='notes text-muted indent' ng-bind-html='field.notes | markdown'>

  		</p>

      <p ng-switch="field.type" class='indent'>
          <ask-instruction ng-switch-when="instruction"></ask-instruction>
          <ask-freetext ng-switch-when="freetext"></ask-freetext>
          <ask-numeric ng-switch-when="numeric"></ask-numeric>
          <ask-singlechoice ng-switch-when="singlechoice"></ask-singlechoice>
          <ask-multichoice ng-switch-when="multichoice"></ask-multichoice>
          <ask-mood ng-switch-when="mood"></ask-mood>
       </p>
  	</div>

  

  

  <!--
  <p class='small'>
    <br/>
    <code>{{answer}}</code>
    <br/>
    <code>{{relevantTriggers}}</code>
  </p>

  -->

</div>